.catalogue-container {
  padding: 0px 15px 0px 15px;

  h1{
    width: fit-content;
    padding: 10px;
    color: white;
    text-shadow: 1px 1px .14em #336699, 0 0 .14em #00c8b6, 0 0 .14em #012c71;
    font-size: 32px;
  }

  .catalogue {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}