@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  font-family: 'Roboto Condensed', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: url('/assets/background-images/background-image.jpg');
  background-attachment: fixed;
}